@import './base.css';

body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.opcua-client-app {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
}

aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 101px;
  bottom: 0;
  width: 300px;
  border-right: 1px solid lightgray;

  overflow: scroll;
}

main {
  position: fixed;
  left: 301px;
  top: 101px;
  bottom: 20%;
  right: 0;
  overflow: auto;
  padding: 4px;
}

footer {
  position: fixed;
  display: flex;
  left: 301px;
  top: 80%;
  bottom: 0px;
  right: 0;
  padding: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 3mm;
  height: 3mm;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track:hover {
  background: #e1e1e1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #97a7b7;
}

.opcua-header {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom: 1px solid silver;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #34495e, #2c3e50);
}

.realtimelogic-header-logo {
  height: 80%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.table-node-attributes {
  width: 100%;
  /* border: 1px solid gray; */
  border-collapse: collapse;
}

.td-node-attribute {
  border: 1px solid gray;
  padding: 3px;
}
.td-node-attribute-name {
  width: 20%;
}

.td-node-attribute-value {
}

.ua-messages {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ua-messages-top {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 2px;
  font-size: 8px;
}

.ua-messages-content {
  overflow: auto;
}

.ua-messages-table {
  flex: 1;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
}

.ua-messages-tr {
  border-top: 1px solid lightgray;
}

.ua-messages-td {
  width: 10%;
  height: 12px;
}

.ua-messages-td-err {
  width: 10%;
  height: 12px;
  color: red;
}

.ua-login-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
