body {
  margin: 0;
  padding: 0;
  background: #060606;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

body * {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 3mm;
  height: 3mm;
}

/* Track */
::-webkit-scrollbar-track {
  background: #060606;
}

::-webkit-scrollbar-track:hover {
  background: #262323;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #87B6F9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2a81fa;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ua-login-component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

.modal {

  --bs-modal-bg: #24262B;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.15);
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-footer-border-color: var(--bs-border-color);
}

.modal .btn-close {
  filter: invert(1);
}